@charset "utf-8";

#mainContainer1{
	width:100%;
        overflow: hidden;
/*         height: auto;*/
	display:block;
	margin:0;
}
#banner1{
        position: absolute;
        top: 0;
        background: url(../images/header.png) #d6cec3 repeat-x;
	width:100%;
	height:25%;
	margin:0 0 0 0;
}
#logo1{
     background: url(../images/theSweepsLogo1.png) no-repeat;
        width:270px;
	height: 150px;
	margin: 0 0 0 0;
	float:left;
   
}
#logo3{
     width:100%;
        overflow: hidden;
/*      height: 100%;*/
        height: 180%;
	display:block;
	margin:0;

      
   
}
#balance1{
	font: 20px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:300px;
	height: 47px;
	margin: 0 -90px 0 0;
	float:left;
}
#txtBoxContainer_point1{
	width:320px;
	height: 40px;
	float:left;
        margin-left: 30%;
        margin-top: 2%;
        
}
#txtBoxContainer_point1 .txtBox_left1{
	background:url(../images/pointContainer_left.png) 0 0 no-repeat;
	width:10px;
	height: 40px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point1 .txtBox_right1{
	background:url(../images/pointContainer_right.png) 0 0 no-repeat;
	width:10px;
	height: 40px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point1 .txtBox_body1{
	background:url(../images/pointContainer_body.png) 0 0 repeat-x;
	width:270px;
	height: 40px;
	margin: 0 0 0 0;
	float:left;
}
#txtBoxContainer_point1 .txtBox_body1 p{
	font: 20px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:270px;
	height: 40px;
	margin: 0 0 0 0;
	float:left;
}
#btnContainer1{
	width:320px;
	height: 33px;
margin-left: 30%;
        margin-top: 2%;
	float:left;
}
#btnContainer1 .convertPoints1{
/*	background: url(../images/convertPoints.png) 0 0 no-repeat;
	width:164px;
	height: 33px;*/
	margin: 0 0 0 0;
	float:left;
        cursor: pointer;
}

#adContainer1{
/*	background:url(../images/adContainer.png) 0 0 no-repeat;*/
/*	width:360px;
	height: 178px;*/
	margin: 0 0 0 0;
/*	float:left;*/
}
#adContainer1 .adContent1{
/*	background:url(../images/Ad.gif) 0 0 no-repeat;*/
/*	width:333px;
	height: 162px;*/
	margin: 0 0 0 0;
	float:left;
}
/* Footer*/

#footer1{
        background: url(../images/footer.png) #d6cec3 repeat-x;
        position: absolute;
        bottom: 0;
	width:100%;
	height:15%;
	margin:0;
        z-index: 2;
}
#footerBox1{
	width:735px;
	height:80px;
	float:left;
        right: auto;
	display: block;
	margin: 0.5% auto;
        margin-left: 25%;
}
#footerBox1 .footerBox_left1{
	background: url(../images/footerContBox_left.png) 0 0 no-repeat;
	width:14px;
	height:76px;
	margin:0 0 0 0;
	float:left;
}
#footerBox1 .footerBox_body1{
	background: url(../images/footerContBox_body.png) 0 0 repeat-x;
	width:707px;
	height:76px;
	margin:0 0 0 0;
	float:left;
}
.under181{
	background: url(../images/under18.png) 0 0 no-repeat;
	width:45px;
	height:44px;
	margin: 16px 0 0 64px;
	float:left;
}
.rules1{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:156px;
	height:20px;
	margin: 30px 0 0 131px;
	float:left;
        cursor: pointer;
}
.terms1{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:165px;
	height:20px;
	margin: 30px 0 0 100px;
	float:left;
        cursor: pointer;
}
.rules1:hover{
	text-decoration:underline;
}
.terms1:hover{
	text-decoration:underline;
}
#footerBox1 .footerBox_right1{
	background: url(../images/footerContBox_right.png) 0 0 no-repeat;
	width:14px;
	height:76px;
	margin:0 0 0 0;
	float:left;
}