/* 
    Document   : lobby1
    Created on : 08 13, 12, 4:08:56 PM
    Author     : jfjose-dt
    Description:
        Purpose of the stylesheet follows.
*/

@charset "utf-8";
/* CSS Document */

#balance{
	font: 20px/47px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:300px;
	height: 47px;
	margin: 0 -90px 0 0;
	float:left;
}

.under18{
	background: url(../images/under18.png) 0 0 no-repeat;
	width:45px;
	height:44px;
	margin: 16px 0 0 64px;
	float:left;
}
.rules{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:156px;
	height:20px;
	margin: 30px 0 0 131px;
	float:left;
        cursor: pointer;
}
.terms{
	font: 16px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#FFF;
	text-decoration:none;
	width:165px;
	height:20px;
	margin: 30px 0 0 100px;
	float:left;
        cursor: pointer;
}
.rules:hover{
	text-decoration:underline;
}
.terms:hover{
	text-decoration:underline;
}

.back_launchPad {
	background:url(../images/backLaunchPad.png) 0 0 no-repeat;
        float:left;
	
}
.back_launchPad:hover{
	background:url(../images/backLaunchPad_hover.png) 0 0 no-repeat;
}
.gameTitles1  {
	font: bold 13px/16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	/*width:305px;*/
	width:185px;
/*        font-size: 16px;*/
/*	height:-10px;*/
/*        font-weight: bold !important;*/
	margin:5px 0 0 0;
/*	float:left;*/
}


